.list-container {
    text-align: center;
    width: 15%;
    float: left;
    overflow-y: scroll;
    height: 1200px;
}

.view-container {
    float: right; 
    width: 85%;
    text-align: center;
    background-image: url('./background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1200px;
    color: black;
}

.deaths {
    display: inline
}

.droneStrikeList{
    background-color: bisque;
    text-align: center;
}

.strikeInfo{
    background-color: white;
    opacity: .8;
    position: center;
    margin-top: -21px;
}

.search{
    margin-top: 20px;
    width: 275px;
}

.map{
    display: inline-block;
    margin-top: 100px;
}




