.list-container {
    text-align: center;
    width: 15%;
    float: left;
    overflow-y: scroll;
    height: 1200px;
}

.view-container {
    float: right; 
    width: 85%;
    text-align: center;
    background-image: url('./background.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    
    height: 1200px;
}

.deaths {
    display: inline
}

.droneStrikeList{
    background-color: bisque;
    text-align: center;
}

.search{
    margin-top: 20px;
    width: 300px;
}

.map{
    text-align: center;
}




